<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <script type=”text/javascript” src=”https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js”></script>



      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>AuthBlock | Registrazione</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" th:href="@{/auth_block_site/css/bootstrap.min.css}">
      <!-- style css -->
      <link rel="stylesheet" th:href="@{/auth_block_site/css/style.css}">
      <!-- Responsive-->
      <link rel="stylesheet" th:href="@{/auth_block_site/css/responsive.css}">
      <!-- fevicon -->
      <link rel="icon" th:href="@{/auth_block_dashboard/img/cube.png}" type="image/gif" />

      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" th:href="@{/auth_block_site/css/jquery.mCustomScrollbar.min.css}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
      <style>
         #footerMenu > li{
            display: inline-block;
         }
         .contact::before {

         }
      </style>
      <script th:src="@{/auth_block_site/web3js/web3.min.js}"></script>

      <script>


         async function pagamentoFull(){

              var web3 = new Web3(window.ethereum);
            web3.setProvider(window.ethereum)

            const selectedAccount = await window.ethereum
                    . request({
                       method:"eth_requestAccounts",
                    })
                    .then(async (accounts) => {
                       console.log('in then')
                       console.log(accounts[0])
                       const transactionParameters = {
                          nonce: '0x00', // ignored by MetaMask
                          gasPrice: web3.utils.toHex('8000000000') , // customizable by user during MetaMask confirmation.
                          gas:web3.utils.toHex('4700000') , // customizable by user during MetaMask confirmation.
                          to: '0x6677a85BDeCf4b2c32266c23c6c16Ad4AB321d90', // Required except during contract publications.
                          from: accounts[0], // must match user's active address.
                          value: web3.utils.toHex(web3.utils.toWei('1','ether')), // Only required to send ether to the recipient from the initiating external account.
                          data:
                                  '0x7f7465737432000000000000000000000000000000000000000000000000000000600057', // Optional, but used for defining smart contract creation and interaction.
                          chainId: '0x3', // Used to prevent transaction reuse across blockchains. Auto-filled by MetaMask.
                       };
                       const txHash = await ethereum.request({
                          method: 'eth_sendTransaction',
                          params: [transactionParameters],
                       });
                    })
                    .catch(() => {
                       alert("Nessun account selezionato")
                    });
         }
      </script>
   </head>
   <!-- body -->
   <body class="main-layout inner_header contact_page">

      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="index.html"><img th:src="@{/auth_block_site/images/logo.png}" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item active">
                                 <a class="nav-link" href="index">Home</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="index.html#about">About</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="index.html#servizi">Servizi</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="index.html#Le_nostre_API">Le nostre API</a>
                              </li>


                              <!--<li class="nav-item">
                                 <a class="nav-link" id="addressEther" onclick="loginWithEth()" >registrazione</a>
                              </li> -->
                              <li class="nav-item">
                                 <a class="nav-link" href="#" onclick="loginWithEth()">Login</a>
                              </li>


                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->

     <div class="yellow_darkbg">
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="titlepage">
                  <h2>Registrazione</h2>
                 </div>
              </div>
           </div>
        </div>
     </div>

      <!--  contact -->
      <div class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                 <form id="request" class="main_form" action ="/download" method="post" >
                    <div class="row">
                       <span th:if="${flag == true}"><p style="color:red; size: A4">Errore di inserimento del indirizzo ethereum</p></span>
                        <div class="col-md-12 ">
                           <input required id="addressEther" class="contactus" placeholder="indirizzo Ethereum" type="type" name="addressEther">
                        </div>
                       <label for="metamask">Oppure usa MetaMask</label>
                       <img th:src="@{/auth_block_site/images/metamask.png}" id="metamask" onclick="loginWithEth()" style="width: 35px;cursor: pointer;">
                        <div class="col-md-12">
                           <input type="submit" value = "Registati" >
                        </div>
                     </div>
                 </form>
                  <button onclick="pagamentoFull()">Paga</button>
               </div>
               <div class="col-md-6">
                  <div class="map">
                     <figure><img th:src="@{/auth_block_site/images/map_img.png}" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end contact -->
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row" style="justify-content: center;">
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                     <img class="logo1"  th:src="@{/auth_block_site/images/logo.png}" alt="#"/>
                     <ul class="link_menu">
                        <li><p style="color:white;">Zero passwords <br> Infiniti logins</p></li>
                     </ul>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">

                     <ul class="link_menu" id="footerMenu">
                        <li><a href="index.html#about">About - </a></li>
                        <li><a href="index.html#servizi">Servizi - </a></li>
                        <li><a href="index.html#Le_nostre_API">Le nostre API - </a></li>
                     </ul>
                  </div>

               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-10 offset-md-1">
                        <p>© 2019 All Rights Reserved. Design by <a href="https://html.design/"> Free Html Templates</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>



      <!-- Javascript files-->
      <script th:src="@{/auth_block_site/js/jquery.min.js}"></script>
      <script th:src="@{/auth_block_site/loginJS/login.js}"></script>
      <script  th:src="@{/auth_block_site/js/bootstrap.bundle.min.js}"></script>
      <script  th:src="@{/auth_block_site/js/jquery-3.0.0.min.js}"></script>
      <!-- sidebar -->
      <script  th:src="@{/auth_block_site/js/jquery.mCustomScrollbar.concat.min.js}"></script>
      <script  th:src="@{/auth_block_site/js/custom.js}"></script>
   </body>
</html>

